<%provide(:title, "About Vivace") %>

<h1>About Vivace</h1>
<p>Vivace allows you to
	<ul>Find a tutor or</ul>
	<ul>Find a group lesson</ul>
	<ul> Pay online</ul>
	<ul>See a tutor's availability</ul>
</p>
